/DOB.txt
/notes.py
/reg_form.txt
/repo
/T02
/T03
/T04
/T05
/T06
/T07
/T08
/T09
/T10 - Build Your Brand_ Preparing to Enter the Job Market
/T11
/T12
/T13 - Data Analysis - Data Cleaning
/T14 - Data Analysis - Preprocessing
/T15 - Exploratory Data Analysis
/T17 - Simple Linear Regression & Machine Learning
/T18 - Multiple Linear Regression
/T19 - Logistic Regression
/T20 - Supervised learning - Decision Trees
/T21 - Supervised learning - Random Forests
/T22 - Image Processing
/T23 - Unsupervised Learning - K-means Clustering
/T24 - Exploring Neural Networks
/T26 - Natural Language Processing with SpaCy
/Untitled Folder
/Weeks